.App {
  text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);

html * {
  font-family: "Raleway" !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  z-index: -99;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
.grid {
  display: grid;
  width: 100vw;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 25vmin);
  grid-template-rows: repeat(5, 30vmin);
  grid-gap: 20px;
}

@media only screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(1, 100vmin);
    grid-template-rows: repeat(1, 30vmin);
    grid-gap: 10px;
  }
}
*/

.error-text {
  font-weight: bold;
  color: red;
}
